*.o
*.lo

.deps/
.libs/

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
conf/config.guess
conf/config.sub
conf/depcomp
conf/install-sh
conf/libtool.m4
conf/ltmain.sh
conf/ltoptions.m4
conf/ltsugar.m4
conf/ltversion.m4
conf/lt~obsolete.m4
conf/missing
config.log
config.status
config_gridfields.h
config_gridfields.h.in
configure
gridfields-config

libgridfields.la

libtool
src/gridfields_hash_map.h
stamp-h1
tests/testaggregate
tests/testarray
tests/testarrayreader
tests/testarrayreader.cc
tests/testbind
tests/testbind.cc
tests/testcellarray
tests/testcross
tests/testcross.cc
tests/testdataset
tests/testgridfield
tests/testmerge
tests/testoutput.cc
tests/testrestrict
tests/testsift
tests/testtuple
